@import "../../../../../assets/styles/form/radio";
@import "../assets/record-form";

.custom-radio {
  color: black;
}

.record-form__textarea {
  min-height: 18px;
  width: 100% !important;

  font-family: $defaultFontFamily;
}
