<app-card title="Добавить Запись">
  <form [formGroup]="recordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-label">Выберите Категорию</label>
      <select class="form-input"
              formControlName="category">
        <option *ngFor="let category of (recordService.categories | async)"
                [ngValue]="category">
          {{category.name}}
        </option>
      </select>
      <ng-template [ngIf]="recordForm.get('category').touched && recordForm.get('category').invalid">
        <span class="form-error-message"
              *ngIf="recordForm.get('category').errors.required">
          Это обязательное поле
        </span>
      </ng-template>
    </div>
    <div class="form-group">
      <label class="form-label">Выберите Тип</label>
      <label class="form-label form-radio">
        <input class="form-input"
               type="radio"
               value="income"
               formControlName="type">
        <span class="custom-radio">Доход</span>
      </label>
      <label class="form-label form-radio">
        <input class="form-input"
               type="radio"
               value="consumption"
               formControlName="type">
        <span class="custom-radio">Расход</span>
      </label>
    </div>
    <div class="form-group">
      <label class="form-label">Введите Сумму</label>
      <input class="form-input"
             type="number" min="1"
             formControlName="value">
      <ng-template [ngIf]="recordForm.get('value').touched && recordForm.get('value').invalid">
        <span class="form-error-message"
              *ngIf="recordForm.get('value').errors.required">
          Это обязательное поле
        </span>
        <span class="form-error-message"
              *ngIf="recordForm.get('value').errors.min">
          Значение должно быть больше {{recordForm.get('value').errors.min.min}}
        </span>
        <span class="form-error-message"
              *ngIf="recordForm.get('value').errors.categoryLimit">
          Превышен лимит ({{recordForm.get('value').errors.categoryLimit.category.limit}})
        </span>
      </ng-template>
    </div>
    <div class="form-group">
      <label class="form-label">Комментарий</label>
      <textarea class="form-input record-form__textarea"
                formControlName="comment"></textarea>
    </div>
    <button class="form-submit"
            type="submit"
            [disabled]="recordForm.invalid">
      Добавить
    </button>
  </form>
</app-card>
