@import "../../../../../assets/styles/form/base";
@import "../../../../../assets/styles/form/radio";

.form-input {
  background-color: #ffffff;
}

.custom-radio {
  color: black;
}

.form-submit {
  margin-bottom: 10px;
}
