<nav class="main__nav">
  <h1 class="nav__title">Бухгалтерия</h1>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__item-link"
         routerLink="bill"
         routerLinkActive="nav__item-link--active">
        <i class="icon-bill"></i>
        Счет
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link"
         routerLink="history"
         routerLinkActive="nav__item-link--active">
        <i class="icon-history"></i>
        История
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link"
         routerLink="planning"
         routerLinkActive="nav__item-link--active">
        <i class="icon-planning"></i>
        Планирование
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__item-link"
         routerLink="records"
         routerLinkActive="nav__item-link--active">
        <i class="icon-plus"></i>
        Запись
      </a>
    </li>
  </ul>
</nav>
