@import "../../assets/font-awesome/css/fontello.css";
@import "../../assets/styles/variables.scss";

:host {
  display: grid;
  grid-template-columns: minmax(190px, 20%) auto;
  grid-template-rows: $headerHeight auto;
  grid-template-areas: "nav header"
                       "nav content";

  width: 100vw;
  height: 100vh;
}

app-navigation {
  grid-area: nav;
}

app-header {
  grid-area: header;
}

.main__content {
  grid-area: content;

  padding: 20px;

  background-color: $mainBackgroundColor;
}

// adaptive
@media (max-width: 500px) {
  :host {
    grid-template-columns: 100%;
    grid-template-rows: $headerHeight 1fr;
    grid-template-areas: "header"
                         "content";
  }

  .main__content {
    padding-left: 40px;
  }
}
