@import "../../../../assets/styles/variables";

$cardOffset: 10px;

.card__title {
  margin: 0 $cardOffset;
  padding: $cardOffset $cardOffset $cardOffset/2 0;

  border-bottom: 1px solid $headerBackgroundColor;

  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.card__body {
  padding: 0 $cardOffset;
}

