@import "../../../../assets/font-awesome/css/fontello.css";
@import "../../../../assets/styles/variables";

.record__title {
  margin: 0 0 20px 0;
  padding-bottom: 10px;

  border-bottom: 1px solid $headerBackgroundColor;
}

.record__body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

app-record-form, app-category-form, app-edit-category-form {
  flex-basis: 49%;
  min-width: 255px;
  margin-bottom: 10px;

  border-radius: 1px;

  background-color: #ffffff;
  box-shadow: 1px 1px 5px rgba(126,142,159,.1);

  @media (max-width: 740px) {
    flex-basis: 100%;
  }
}
