@import "../../../../assets/font-awesome/css/fontello.css";
@import "../../../../assets/styles/variables";
@import "../assets/page";

.bill__refresh {
  background-color: transparent;
  border: none;

  font-size: 24px;
  color: $blue;
  float: right;

  cursor: pointer;

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:focus {
    outline: 1px solid $blue;
  }
}
