<header class="main__header">
  <time class="header__time">{{date | date: 'dd MMM yyyy'}}</time>
  <div class="header__user">
    <button class="user__dropdown-toggle">Антай</button>
    <ul class="user__dropdown">
      <li class="dropdown__item">
        <a class="dropdown__action" routerLink="/main/history">
          <i class="icon-plus"></i>
          Сделать запись
        </a>
      </li>
      <li class="dropdown__item">
        <a class="dropdown__action" (click)="onLogout()" routerLink="/">
          <i class="icon-logout"></i>
          Выйти
        </a>
      </li>
    </ul>
  </div>
</header>
