@import "../../../../../assets/font-awesome/css/fontello.css";
@import "../../../../../assets/styles/variables";

.balance__table {
  width: 100%;

  border-right: 10px solid #ffffff;
  border-left: 10px solid #ffffff;

  border-collapse: collapse;
}

.balance__table-caption {
  padding: 10px 10px 5px;
  text-align: left;
}

.balance__table-row {
  height: 45px;

  &:first-child .balance__table-cell {
    border-top: 1px solid $headerBackgroundColor;
  }

  &:not(:last-child) .balance__table-cell {
    border-bottom: 2px solid $blue;
  }
}

.balance__table-cell {
  &:first-child { // currency
    width: 50px;

    font-size: 18px;
    color: $blue;
    text-align: center;
  }
}
