@import "../../../../../assets/font-awesome/css/fontello.css";
@import "../../../../../assets/styles/variables";

.balance__table {
  width: 100%;
  border-collapse: collapse;
}

.balance__table-row {
  height: 45px;

  &:not(:last-child) .balance__table-cell {
    border-bottom: 2px solid $blue;
  }
}

.balance__table-cell {
  &:first-child { // currency
    width: 50px;

    font-size: 18px;
    color: $blue;
    text-align: center;
  }
}
