<table class="balance__table">
  <caption class="balance__table-caption">Баланс</caption>
  <tbody>
    <tr class="balance__table-row">
      <td class="balance__table-cell">
        <i class="icon-rouble"></i>
      </td>
      <td class="balance__table-cell">80000</td>
    </tr>
    <tr class="balance__table-row">
      <td class="balance__table-cell">
        <i class="icon-dollar"></i>
      </td>
      <td class="balance__table-cell">80000</td>
    </tr>
    <tr class="balance__table-row">
      <td class="balance__table-cell">
        <i class="icon-euro"></i>
      </td>
      <td class="balance__table-cell">80000</td>
    </tr>
  </tbody>
</table>
