<app-card cardTitle="Изменить Категорию">
  <form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-label">Выберите Категорию</label>
      <select class="form-input"
              formControlName="category">
        <option *ngFor="let category of (recordService.categories | async)"
                [ngValue]="category">
          {{category.name}}
        </option>
      </select>
      <ng-template [ngIf]="editCategoryForm.get('category').touched && editCategoryForm.get('category').invalid">
        <span class="form-error-message"
              *ngIf="editCategoryForm.get('category').errors.required">
          Это обязательное поле
        </span>
      </ng-template>
    </div>
    <div class="form-group">
      <label class="form-label">
        Введите Лимит Одноразового Расхода <sub style="font-size: 10px;">(необязательно)</sub>
      </label>
      <input class="form-input"
             type="number" min="1"
             placeholder="Оставьте поле пустым, если хотите сбросить"
             formControlName="oneTimeLimit">
      <ng-template [ngIf]="editCategoryForm.get('oneTimeLimit').touched && editCategoryForm.get('oneTimeLimit').invalid">
        <span class="form-error-message"
              *ngIf="editCategoryForm.get('oneTimeLimit').errors.min">
          Значение должно быть больше {{editCategoryForm.get('oneTimeLimit').errors.min.min}}
        </span>
      </ng-template>
    </div>
    <div class="form-group">
      <label class="form-label">
        Введите Суммарный Лимит На Месяц <sub style="font-size: 10px;">(необязательно)</sub>
      </label>
      <input class="form-input"
             type="number" min="1"
             placeholder="Оставьте поле пустым, если хотите сбросить"
             formControlName="periodLimit">
      <ng-template [ngIf]="editCategoryForm.get('periodLimit').touched && editCategoryForm.get('periodLimit').invalid">
        <span class="form-error-message"
              *ngIf="editCategoryForm.get('periodLimit').errors.min">
          Значение должно быть больше {{editCategoryForm.get('periodLimit').errors.min.min}}
        </span>
      </ng-template>
    </div>
    <button class="form-submit"
            type="submit"
            [disabled]="editCategoryForm.invalid">
      Изменить
    </button>
  </form>
</app-card>
