@import "../variables";

$inputBottomColor: #d7dde4;

// for auth form
.auth__title {
  margin: 20px 0;

  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.form {
  margin: 20px 50px;

  &-group {
    position: relative;
    margin: 20px 0;
  }

  &-label {
    display: block;

    font-size: 14px;
  }

  &-input {
    width: 100%;
    height: 36px;

    font-size: 16px;

    border: none;
    border-bottom: 1px solid $inputBottomColor;
  }

  &-input:focus {
    outline: none;
    border-color: $blue;
    background-color: rgba($blue, 0.05);
  }

  &-input.ng-invalid.ng-touched {
    border-color: $errorColor;

    &:focus {
      background-color: rgba($errorColor, 0.05);
    }
  }

  &-submit {
    display: block;
    width: 100%;
    height: 40px;

    background-color: $blue;

    font-size: 18px;
    color: #ffffff;

    border: none;
  }

  &-submit:hover {
    cursor: pointer;
    background-color: darken($blue, 10);
  }

  &-submit:active {
    background-color: darken($blue, 20);
  }

  &-submit:disabled {
    background-color: desaturate($blue, 50%);
    cursor: auto;
  }

  &-error-message {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1.1em;

    color: $errorColor;
    font-size: 14px;
  }
}

select.form-input {
  cursor: pointer;
}
