.form {
  &-input[type="radio"] {
    // visually-hidden
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  &-radio {
    height: 30px;

    font-size: 18px;
    line-height: 28px;
  }

  &-radio:hover {
    cursor: pointer;
  }

  .custom-radio {
    display: inline-block;
    height: 30px;

    position: relative;
  }

  .custom-radio:after, .custom-radio:before {
    content: "";
    display: block;

    position: absolute;
    right: -30px;

    width: 25px;
    height: 3px;

    background-color: darken($blue, 20);
  }

  .custom-radio:after {
    top: 13.5px;
    transform: rotate(45deg);
  }

  .custom-radio:before{
    bottom: 13.5px;
    transform: rotate(-45deg);
  }

  .custom-radio:hover:after, .custom-radio:hover:before {
    background-color: darken($blue, 10);
    border-color: darken($blue, 10);
  }

  // focus
  &-input[type="radio"]:focus + .custom-radio {
    outline: 1px dashed $blue;

    &:after, &:before {
      background-color: $blue;
    }
  }

  // invalid
  &-input[type="radio"].ng-invalid.ng-touched + .custom-radio {
    outline: 1px dashed $errorColor;
  }

  // checked
  &-input[type="radio"]:checked + .custom-radio {
    &:before {
      width: 20px;
      height: 5px;
      background-color: transparent;

      transform: rotate(-45deg);

      border-bottom: 3px solid darken($blue, 20);
      border-left: 3px solid darken($blue, 20);
    }

    &:hover:before {
      border-color: darken($blue, 10);
    }
  }

  &-input[type="radio"]:checked:focus + .custom-radio:before {
    border-color: $blue;
  }

  &-input[type="radio"]:checked + .custom-radio:after{
    display: none;
  }
}
