@import "assets/styles/variables";

body {
  margin: 0;

  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;

  color: $textColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
