$blue: #52bcd3;
$textColor: #4f5f6f;
$defaultFontSize: 16px;
$errorColor: #fb494d;
$defaultFontFamily: 'Open Sans', sans-serif;

// main module
$navBackgroundColor: #3a4651;
$headerBackgroundColor: #d7dde4;
$mainBackgroundColor: lighten($headerBackgroundColor, 10%);

$headerHeight: 55px; // .user__dropdown-toggle in header.component.scss
