<table class="currency__table">
  <thead class="currency__table-head">
    <tr class="currency__table-row currency__table-row--head">
      <th class="currency__table-cell currency__table-cell--head"></th>
      <th class="currency__table-cell currency__table-cell--head">Курс</th>
      <th class="currency__table-cell currency__table-cell--head">Дата</th>
    </tr>
  </thead>
  <tbody>
  <tr class="currency__table-row">
    <td class="currency__table-cell">
      <i class="icon-rouble"></i>
    </td>
    <td class="currency__table-cell">24</td>
    <td class="currency__table-cell">22.06.2019</td>
  </tr>
  <tr class="currency__table-row">
    <td class="currency__table-cell">
      <i class="icon-dollar"></i>
    </td>
    <td class="currency__table-cell">26</td>
    <td class="currency__table-cell">22.06.2019</td>
  </tr>
  <tr class="currency__table-row">
    <td class="currency__table-cell">
      <i class="icon-euro"></i>
    </td>
    <td class="currency__table-cell">0.4</td>
    <td class="currency__table-cell">22.06.2019</td>
  </tr>
  </tbody>
</table>
