<table class="currency__table">
  <thead class="currency__table-head">
    <tr class="currency__table-row currency__table-row--head">
      <th class="currency__table-cell currency__table-cell--head"></th>
      <th class="currency__table-cell currency__table-cell--head">Курс</th>
      <th class="currency__table-cell currency__table-cell--head">Дата</th>
    </tr>
  </thead>
  <tbody>
    <tr class="currency__table-row" *ngFor="let currency of ['RUB', 'USD', 'EUR']">
      <td class="currency__table-cell">
        <i class="icon-{{currency}}"></i>
      </td>
        <td class="currency__table-cell">
          <i *ngIf="!rates">Loading...</i>
          <ng-template [ngIf]="rates">
            {{ rates[currency]  | number: '1.2'}}
          </ng-template>
        </td>
        <td class="currency__table-cell">
          <i *ngIf="!rates">Loading...</i>
          <ng-template [ngIf]="rates">
            {{ rates['date'] | date: 'dd.MM.yy' }}
          </ng-template>
        </td>
    </tr>
  </tbody>
</table>
