@import "../../../../../assets/font-awesome/css/fontello.css";
@import "../../../../../assets/styles/variables";

:host:before {
  content: "";
  position: relative;
  top: 34px;

  display: block;
  width: 100%;
  height: 1px;

  background-color: $headerBackgroundColor;
}

.currency__table {
  table-layout: fixed;
  width: 100%;

  border-right: 10px solid #ffffff;
  border-left: 10px solid #ffffff;

  border-collapse: collapse;
}

.currency__table-row {
  height: 45px;

  &:not(:last-child) .currency__table-cell {
    border-bottom: 2px solid $blue;
  }

  &--head {
    height: 30px;

    :after {
      content: "";
    }
  }
}

.currency__table-cell {
  &--head {
    padding: 10px 0 5px;

    font-weight: normal;
    text-align: left;
  }

  &:first-child { // currency
    width: 50px;

    font-size: 18px;
    color: $blue;
    text-align: left;
  }
}
