@import "../../../../assets/styles/form";
@import "../../../../assets/font-awesome/css/fontello.css";

:host {
  position: relative;
}

:host.ng-touched.ng-invalid input {
  border-color: $errorColor;
}

.eye-button {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0;
  width: 20px;
  line-height: 20px;

  border-radius: 50%;
  border-width: 0;

  background-color: transparent;


  cursor: pointer;
  transition: background-color 0.2s;
}

.eye-button:focus {
  outline: 1px solid $blue;
  -moz-outline-radius: 50%;
}

.eye-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
